html {
    background-color: rgb(255, 231, 231);
}

h2 {
    font-family: verdana;
    text-align: center;
}

.intro {
    width: 65%; 
    margin: auto;
}

/* Container for main part of the site */
.div-body {
    margin: 15px;
    padding: 20px;
    height: auto;
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-family: georgia;
}

