html {
    background-color: rgb(255, 231, 231);
}

h2 {
    font-family: verdana;
    text-align: center;
}

.intro {
    width: 65%; 
    margin: auto;
}

/* Container for main part of the site */
.div-body {
    padding: 20px;
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-family: georgia;
}

.dropbtn {
    background-color: rgb(255, 231, 231);
    color: black;
    padding: 16px;
    margin: 5px;
    font-size: 16px;
    border: none;
    font-family: georgia;
}

/* Styles each block */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
}

/* Styles the dropdown tab */
.dropdown-content {
    margin-top: 16px;
    margin-left: 5px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content option:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(202, 165, 165);
}

.famDisBoxLabel {
    color: black;
    padding: 8px;
    margin: 5px;
    font-size: 16px;
    border: none;
    font-family: georgia;
    display: inline-block;
}

.famDisBoxColor {
    background-color: rgb(255, 231, 231);
    padding: 5px;
    margin: 5px;
}

.diseaseline {
    display: inline-block;
    padding: 5px;
}

.weightbox {
    position: absolute;
    padding: 5px;
    margin-top: 1px;
}

.submitbutton {
    margin-top: 15px;
    padding: 5px 8px;
    border: 0;
    border-radius: 5px;
}

input[name=output] {
    background-color: transparent;
    border: none;
    text-align: center;
}