html {
    background-color: rgb(255, 231, 231);
}

h2 {
    font-family: verdana;
    text-align: center;
}

body {
    margin: 15px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
